style "menubar" {
  bg[NORMAL] = @titlebar_bg_color
  fg[NORMAL] = @button_F
  fg[PRELIGHT] = shade(1.15, @titlebar_fg_color)
  fg[ACTIVE] = shade(1.15, @titlebar_fg_color)
  fg[SELECTED] = @selected_fg_color
  fg[INSENSITIVE] = shade(0.7, @titlebar_fg_color)

  xthickness = 0
  ythickness = 0
}

style "menubar-borderless" {
  bg[NORMAL] = @titlebar_bg_color
  fg[NORMAL] = @titlebar_fg_color
  fg[SELECTED] = @selected_fg_color
  fg[INSENSITIVE] = shade(0.7, @titlebar_fg_color)

  xthickness = 0
  ythickness = 0
}

style "menubar_item" {
  xthickness = 2
  ythickness = 4

  fg[PRELIGHT] = @button_fg
}

# Text Style Menubar
style "menubar-text" {

  engine "murrine" {
    text_shade = 0.0
    textstyle = 0
  }
}

style "toolbar_text" {
  fg[NORMAL] = @titlebar_fg_color
  fg[PRELIGHT] = shade(1.15, @titlebar_fg_color)
  fg[INSENSITIVE] = shade(0.7, @titlebar_fg_color)
  fg[ACTIVE] = shade(0.9, @titlebar_fg_color)

  text[NORMAL] = @titlebar_fg_color
  text[PRELIGHT] = shade(1.15, @titlebar_fg_color)
  text[INSENSITIVE] = shade(0.7, @titlebar_fg_color)
  text[ACTIVE] = shade(0.9, @titlebar_fg_color)
}

style "toolbar_button" {
  xthickness = 4
  ythickness = 4
}

style "toolbar_entry" {
  base[NORMAL] = @base_color
  base[ACTIVE] = @base_color
  base[INSENSITIVE] = @insensitive_bg_color

  text[NORMAL] = @text_color
}

widget_class "*<GtkMenuBar>*"                                       style "menubar"
widget_class "*<GtkMenuBar>.<GtkMenuItem>*"                         style "menubar_item"

widget_class "*ThunarWindow*<GtkToolbar>"                           style "menubar"

widget_class "*<GtkMenuBar>*<GtkMenuItem>*<GtkAccelLabel>"          style "menubar-text"

# Whitelist for dark toolbars
widget_class "*ThunarWindow*<GtkMenuBar>"                                   style "menubar"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkEntry>"                        style "toolbar_entry"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkButton>"                       style "toolbar_button"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkWidget>"                       style "toolbar_text"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkButton>*<GtkLabel>"            style "menubar-text"

